@use 'variables';

@mixin button($bgcolor, $color){
    background-color: $bgcolor;
    font-weight: bold;
    color: $color;
    padding: 6px 10px;
    font-size: 0.7rem;
    border-radius: 20px;
    font-family: 'Public Sans', sans-serif;
    border: 1px solid variables.$black;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

@mixin background ($url){
    background-image: $url;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin p-text {
    color: variables.$grey;
    font-size: 0.8em;
    margin-bottom: 25px;
    font-weight: 300;
}

@mixin bk-plus-rest($color, $bkgrd) {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: $bkgrd;
    color: $color;
    border: 1px solid whitesmoke;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: 200ms all ease-in-out;

    @media (min-width: 500px){
        width: 30px;
        height: 30px; 
        font-size: 1em;    
    }

    @media (min-width: 700px){
        width: 40px;
        height: 40px;     
    }

    @media(min-width: 1000px){
        width: 55px;
        height: 55px;
        font-size: 1.8em;  
    }  
}

@mixin button-orange-hover {
    background-color: variables.$black;
    color: variables.$orange;
    border: 1px solid variables.$orange;
}

