@use "variables";
@import "mixins";
@import "../node_modules/rfs/scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;
    background-color: variables.$black;
}

.header {
    width: 100%;
    &__container {
        margin: auto;
        max-width: 1200px;
        padding: 13px 8px;
        display: flex;
        justify-content: space-between;


        @media (min-width: 700px){

            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            font-size: 1.3em;
            font-weight: 200;
            color: variables.$white;
        }

        .nav {

            @media(max-width: 700px){
                display: none;
            }
        }

        .left {
            .contact__header {
                @include button (variables.$white, variables.$black);
            }

            i {
                color: variables.$white;
                margin-left: 10px;
                font-size: 1.1em;
                cursor: pointer;
                @media (min-width: 700px){
                    display: none;
                }
            }
        }
    }
}

main {
    margin: auto;
    max-width: 1200px;
    padding: 0 10px;

    //HERO SECTION/////////////////////

    .hero {
        width: 100%;
        margin-top: 30px;
        
        .text {
            display: flex;
            width: 250px;
            gap: 20px;
            .vertical {
                width: 20%;
                display: flex;
                align-items: flex-end;
                .vertical-text {
                    font-size: 0.7em;
                    transform: rotate(-90deg);
                    color: variables.$yellow;
                }
            }
            .principal-text {
                width: 100%;
                .hero__title {
                    @include font-size(3rem);
                    color: variables.$white;

                    span {
                        font-style: italic;
                    }
                }
                .secundary-text {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    @media (min-width: 700px){
                        flex-direction: row;
                    }
                    .complete_text {
                        @include font-size(2.5rem);
                        color: variables.$white;
                        margin-bottom: 15px;
                    }
                    .button-hero {
                        @include button (variables.$orange, variables.$white);
                        margin: auto;
                        display: flex;
                        font-weight: 500;
                    }
                    .text-serving {
                        margin-top: 10px;
                        text-align: center;
                        color: variables.$grey;
                        font-size: 0.7em;
                    }
                }
            }

        } 

        .image-hero {
            margin-top: 20px;
            border-radius: 20px;
            width: 100%;
            height: 200px;
            @include background(url(../Assets/hero-image.jpg));
        }

        .subtext-hero {
            color: variables.$white;
            margin-top: 50px;
            font-size: 1.1em;
            padding-bottom: 30px;
            border-bottom: 1px solid #303030;
        }
        
    }

    //DATA SECTION/////////////////////

    .data {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        @media(min-width: 700px){
            flex-direction: row;
        }

        .title-data {
            text-align: center;
            color: variables.$white;
            margin-bottom: 10px;
        }

        .numbers-data {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .item-data {
                margin-bottom: 10px;
                .number {
                    @include font-size(1.7em);
                    color: variables.$white;
                    font-weight: 500;

                    span {
                        color: variables.$orange;
                    }
                }
                .info-data {
                    padding-top: 5px;
                    font-size: 0.7em;
                    color: variables.$grey;
                }
            }
        }
    }

    //DISCOVER SECTION/////////////////////

    .discover {
        width: 100%;
        height: 350px;
        margin-top: 70px;

        &__container {
            display: flex;
            justify-content: space-between;
            gap: 10%;

            .img-discover-container {
                @include background(url(../Assets/discover-job.jpg));
                width: 50%;
                height: 350px;
                border-radius: 20px;

                @media (max-width: 700px){
                    display: none;
                }
            }
            .discover-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media(min-width: 700px){
                    width: 50%;
                }    

                .discover-title {
                    color: variables.$white;
                    @include font-size(2em);
                    margin-bottom: 20px;

                    span {
                        font-style: italic;
                    }
                }
                .discover-text {
                    @include p-text;
                }
                
                .discover-list {
                    list-style: none;

                    .discover-item {
                        color: variables.$white;
                        display: flex;
                        align-items: center;

                        span{
                            font-size: 2em;
                            margin-right: 5px;
                            color: variables.$orange;
                        }
                    }
                }
            }
        }
    }

    //PROJECT SECTION/////////////////////

    .project {
        width: 100%;
        margin-top: 70px;

        .text-project{
            margin-bottom: 40px;
            @media (min-width: 700px){
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .project-title {
                color: variables.$white;
                @include font-size(2em);
                margin-bottom: 15px;
            }
            .text-project {
                @include p-text;
                max-width: 500px;
                @media(min-width: 700px){
                    width: 300px;

                }
            }
        }

        .project-photos{
            width: 100%;
            display: grid;
            place-content: center;
            @media (min-width: 700px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px;
            }

            .item-project {
                min-width: 200px;
                max-width: 400px;
                height: 380px;
                margin-bottom: 25px;

                @media(min-width: 700px){
                    margin-bottom: 0;
                }

                .img-project {
                    width: 100%;
                    height: 80%;
                    margin-bottom: 10px;
                    border-radius: 20px;
                }

                .img-1{
                    @include background(url(../Assets/project-1.jpg));
                }

                .img-2{
                    @include background(url(../Assets/project-2.jpg));
                }

                .img-3{
                    @include background(url(../Assets/project-3.jpg));
                }

                .img-4{
                    @include background(url(../Assets/project-4.jpg));
                }

                .item-title {
                    color: variables.$white;
                    @include font-size(1em);
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                .item-text {
                    @include p-text;
                }
            }
            
        }

        .div-button-project{
            margin-top: 30px;
            width: 100%;
            display: grid;
            place-content: center;
            .button-project {
                @include button(variables.$orange, variables.$white);
            }
        }
    }




    .expert {
        margin-top: 70px;
        width: 100%;
        
        &-title {
            @include font-size(2em);
            text-align: center;
            color: variables.$white;
            margin-bottom: 30px;
        }

        .container-services {

            @media(min-width: 700px){
                gap: 30px;
                display: flex;
                justify-content: space-between;
            }

            .item-services {
                max-width: 370px;
                @media(min-width: 700px){
                    max-width: 300px;
                }

                i {
                    font-size: 3em;
                    margin-bottom: 20px;
                    color: variables.$orange;
                }
                .service-title {
                    color: variables.$white;
                    @include font-size(1em);
                    font-weight: 500;
                    margin-bottom: 15px;
                }
                .text-services {
                    @include p-text;
                }
            }
        }
    }

    .carousel{
        margin-top: 70px;
        width: 100%;
        height: 100px;
        background-color: variables.$orange;
        
    }
    
    .clients {
        margin-top: 70px;

        .clients-title-plus {
            display: flex;
            justify-content: space-between;
            gap: 40px;

            .clients-title {
                @include font-size(1.8em);
                color: variables.$white;
            }

            .plus-rest {
                display: flex;
                gap: 15px;

                .plus {
                    @include bk-plus-rest(variables.$white, variables.$black);
                }

                .rest {
                    @include bk-plus-rest(variables.$black, variables.$white);
                }
            }
        }

        .comments-clients{
            margin-top: 40px;
            width: 100%;

            .container-comments {
                display: flex;
                gap: 25px;
                
                .testimonial-item {
                    width: 50%;
                    .text-testimonial {
                        @include p-text;
                        margin-bottom: 15px;
                    }

                    .author-testimonial {
                        color: variables.$white;
                        font-size: 1em;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }

                    .ubi-testimonial {
                        @include p-text;
                        font-size: 0.7em;
                    }
                }
            }
        }
    }

    .gallery {
        margin-top: 70px;
        width: 100%;

        .gallery-title {
            @include font-size(2em);
            color: variables.$white;
        }

        .swiper {
            border-radius: 20px;
            margin: 40px auto 0 auto;
            max-width: 950px;
            width: 100%;
            height: 300px;

            @media(min-width: 500px){
                height: 370px;
            }
            @media(min-width: 700px){
                height: 450px;
            }

            @media(min-width: 1200px){
                height: 520px;
            }

            .swiper-1{
                @include background(url(../Assets/carousel-1.jpg));
            }

            .swiper-2 {
                @include background(url(../Assets/carousel-2.jpg));
            }

            .swiper-3 {
                @include background(url(../Assets/carousel-3.jpg));
            }
        }

    }

}

.footer {
    border-top: 2px solid variables.$orange;
    background-color: black;
    width: 100%;
    margin: 50px auto 0px auto;
    padding: 0 10px;
    display: grid;
    place-content: center;

    @media(min-width: 600px){
        display: block;
    }

    .container-footer {
        max-width: 1200px;
        margin: 40px auto 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        @media (min-width: 600px){
            flex-direction: row;
            justify-content: space-between;
        }

        .left-footer{
            margin-bottom: 30px;
            h2.logo-footer {
                text-align: center;
                font-size: 1.3em;
                font-weight: 200;
                color: variables.$white;
            }
        }

        .container-lists {
            gap: 30px;
            @media(min-width: 600px){
                display: flex;
                justify-content: space-between;
            }

            .list {
                max-width: 230px;
                margin-bottom: 40px;

                .list-title {
                    font-size: 1em;
                    font-weight: 300;
                    color: variables.$white;
                    margin-bottom: 10px;

                    
                }
            }
        }
    }
} 

ul li a {
    color: variables.$grey;
    text-decoration: none;
    font-size: 0.9em;
    margin-bottom: 7px;
}

ul.footer-social li {
    display: flex;
    i {
        color: variables.$orange;
        margin-right: 5px;
    }
}