@use "variables";
@import "mixins";
@import "../node_modules/rfs/scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;
    background-color: variables.$black;
}

.header {
    width: 100%;
    &__container {
        margin: auto;
        max-width: 1200px;
        padding: 13px 8px;
        display: flex;
        justify-content: space-between;


        @media (min-width: 700px){

            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            font-size: 1.3em;
            font-weight: 200;
            color: variables.$white;
            cursor: pointer;

            @media(min-width: 1000px){
                font-size: 1.7em;
            }
        }

        .nav {
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;

                li {
                    transition: all 200ms ease-in-out;
                    color: variables.$white;
                    margin-right: 10px;
                    font-size: 0.7em;
                    cursor: pointer;

                    &:hover {
                        color: variables.$orange;
                    }

                    @media(min-width: 1000px){
                        font-size: 0.9em;
                    }
                }
            }

            @media(max-width: 700px){
                display: none;
            }
        }

        .left {
            @media(min-width: 700px){
                display: flex;
                justify-content: flex-end;
            }
            .contact__header {
                
                @include button (variables.$white, variables.$black);
                @media(min-width: 1000px){
                    font-size: 0.9em;
                }

                &:hover {
                    background-color: variables.$black;
                    color: variables.$white;
                    border: 1px solid rgb(172, 172, 172);
                }
            }

            i {
                color: variables.$white;
                margin-left: 10px;
                font-size: 1.1em;
                cursor: pointer;
                @media (min-width: 700px){
                    display: none;
                }
            }
        }
    }
}

main {
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;


    //HERO SECTION/////////////////////

    .hero {
        width: 100%;
        margin: 50px auto 0 auto;
        
        .text {
            padding-left: 10px;
            display: flex;
            width: 300px;
            gap: 20px;
            height: 30%;
            
            @media (min-width: 500px){
                padding-left: 20px;
                min-width: 70%;
            }

            @media (min-width: 550px){
                height: 160px;
                width: 100%
            }

            @media (min-width: 650px){
                height: 210px;
            }

            @media (min-width: 800px){
                height: 260px;
                max-width: 1050px;
            }
            @media (min-width: 870px){
                height: 275px;
                
            }
            @media (min-width: 940px){
                height: 290px;
                
            }
            @media (min-width: 1025px){
                height: 310px;
                
            }
            @media (min-width: 1115px){
                height: 320px;
                
            }
            @media (min-width: 1190px){
                height: 330px;
                
            }
            
            .vertical {
                display: flex;
                align-items: flex-end;
                .vertical-text {
                    padding: 7px 0;
                    width: 100%;
                    transform: rotate(-180deg);
                    writing-mode:vertical-rl;
                    font-size: 0.7em;
                    color: variables.$yellow;
                    @media (min-width: 500px){
                        @include font-size(0.8em);
                    }
                    @media (min-width: 650px){
                        font-size: 1em;
                    }
                    @media (min-width: 800px){
                        @include font-size(1.3em)
                    }
                }
            }
            .principal-text {
                width: 100%;
                .hero__title {
                    @include font-size(3rem);
                    color: variables.$white;
                    @media (min-width: 500px){
                        @include font-size(4rem);
                    }
                    @media (min-width: 650px){
                        @include font-size(5rem);
                    }
                    @media (min-width: 800px){
                        @include font-size(6rem);
                    }

                    span {
                        font-style: italic;
                    }
                }
                .secundary-text {
                    gap: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    @media (min-width: 550px){
                        flex-direction: row;
                    }
                    .complete_text {
                        @include font-size(2.5rem);
                        color: variables.$white;
                        margin-bottom: 15px;
                        @media (min-width: 500px){
                            @include font-size(4rem);
                        }
                        @media (min-width: 650px){
                            @include font-size(5rem);
                        }
                        @media (min-width: 800px){
                            @include font-size(6rem);
                        }
                    }
                    .button-hero {
                        @include button (variables.$orange, variables.$white);
                        margin: auto;
                        display: flex;
                        font-weight: 500;

                        &:hover {
                            @include button-orange-hover;
                        }
                        @media (min-width: 550px){
                            @include font-size(0.6em);
                            width: 120px;
                        }
                        @media (min-width: 650px){
                            @include font-size(0.7em);
                            width: 130px;
                        }

                        @media (min-width: 800px){
                            @include font-size(0.8em);
                            width: 140px;
                        }

                        @media (min-width: 1000px){
                            @include font-size(1em);
                            width: 150px;
                        }
                    }
                    .text-serving {
                        margin-top: 10px;
                        text-align: center;
                        color: variables.$grey;
                        font-size: 0.7em;

                        @media (min-width: 650px){
                            font-size: 0.8em;
                         
                        }
                        @media (min-width: 800px){
                            font-size: 1em;
                         
                        }

                        @media (min-width: 1000px){
                            font-size: 1.2em;
                         
                        }
                    }
                }
            }

        } 

        .image-hero {
            margin-top: 20px;
            border-radius: 20px;
            width: 100%;
            height: 200px;
            @include background(url(./Assets/hero-image.jpg));
            @media (min-width: 500px){
                height: 300px;
            }
            @media (min-width: 650px){
                height: 350px;
            }
            @media (min-width: 900px){
                height: 500px;
            }
        }

        .subtext-hero {
            color: variables.$white;
            margin-top: 50px;
            font-size: 1.1em;
            padding-bottom: 30px;
            border-bottom: 1px solid #303030;
            @media (min-width: 500px){
                @include font-size(1.2rem);
            }
            @media (min-width: 650px){
                @include font-size(1.6rem);
            }
            @media (min-width: 800px){
                @include font-size(2.2rem);
            }
        }
        
    }

    //DATA SECTION/////////////////////

    .data {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .container-data {
            @media(min-width: 800px){
                gap: 100px;
                display: flex;
                justify-content: space-between;
            }
        }

        .title-data {
            text-align: center;
            color: variables.$white;
            margin-bottom: 30px;

            @media (min-width: 500px){
                @include font-size(1.5rem);
            }
        }

        .numbers-data {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
            row-gap: 20px;

            @media (min-width: 540px){
                display: flex;
                justify-content: space-around;
            }

            .item-data {
                margin-bottom: 10px;
                .number {
                    @include font-size(1.9em);
                    color: variables.$white;
                    font-weight: 500;

                    span {
                        color: variables.$orange;
                    }

                    @media (min-width: 500px){
                        @include font-size(2.3em);
                        font-weight: 700;
                    }

                    @media (min-width: 1000px){
                        @include font-size(3em);
                        font-weight: 700;
                    }
                }
                .info-data {
                    padding-top: 5px;
                    font-size: 0.8em;
                    color: variables.$grey;

                    @media (min-width: 500px){
                        @include font-size(0.9em);
                        font-weight: 700;
                    }

                    @media (min-width: 800px){
                        @include font-size(1.1em);
                        font-weight: 700;
                    }
                }
                .data-1, .data-3{
                    display: flex;
                    justify-content: flex-end;
                    @media (min-width: 540px){
                        justify-content: flex-start;
                    }
                }
            }
        }
    }

    //DISCOVER SECTION/////////////////////

    .discover {
        width: 100%;
        
        margin-top: 70px;

        @media (min-width: 800px){
            margin-top: 130px;       
        }

        &__container {
            display: flex;
            justify-content: space-between;
            gap: 10%;

            .img-discover-container {
                @include background(url(./Assets/discover-job.jpg));
                width: 50%;
                height: 350px;
                border-radius: 20px;

                @media (max-width: 700px){
                    display: none;
                }

                @media (min-width: 800px){
                    height: 420px;
                }
            }
            .discover-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: flex-end;

                
                @media(min-width: 700px){
                    width: 50%;
                }    

                .discover-title {
                    color: variables.$white;
                    @include font-size(2em);
                    margin-bottom: 20px;
                    
                    @media (min-width: 500px){
                        @include font-size(2.3rem);
                    }
                    @media (min-width: 650px){
                        @include font-size(2.4rem);
                    }
                    @media (min-width: 800px){
                        @include font-size(2.7rem);
                    }

                    span {
                        font-style: italic;
                    }
                }
                .discover-text {
                    @include p-text;
                    @media (min-width: 800px){
                        @include font-size(1.2rem);
                    }
                }
                
                .discover-list {
                    list-style: none;

                    .discover-item {
                        color: variables.$white;
                        display: flex;
                        align-items: center;

                        span{
                            font-size: 2em;
                            margin-right: 5px;
                            color: variables.$orange;

                            @media(min-width: 800px){
                                @include font-size(2.3em);
                            }
                        }
                    }
                }
            }
        }
    }

    //PROJECT SECTION/////////////////////

    .project {
        width: 100%;
        margin-top: 100px;

        
        @media (min-width: 800px){
            margin-top: 130px;       
        }

        .text-project{
            
            margin-bottom: 40px;
            @media (min-width: 700px){
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .project-title {
                
                text-align: center;
                color: variables.$white;
                @include font-size(2em);
                margin-bottom: 15px;

                @media (min-width: 700px){
                    width: 50%;
                }
                
                @media (min-width: 800px){
                    @include font-size(3em);
                }
            }
            p.text-project {
                @include p-text;
                text-align: center;
                max-width: 500px;
                margin: auto;
                display: flex;
                justify-content: center;

                @media(min-width: 700px){
                    width: 300px;
                    margin: 0;
                    text-align: start;

                }
                @media (min-width: 800px){
                    @include font-size(1em);
                    width: 45%;
                }
            }
        }

        .project-photos{
            width: 100%;
            display: grid;
            place-content: center;
            @media (min-width: 700px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 60px;
                row-gap: 15px;
            }

            .item-project {
                min-width: 200px;
                max-width: 400px;
                height: 380px;
                margin-bottom: 25px;

                @media (min-width: 900px){
                    max-width: 500px;
                    height: 460px;       
                }

                @media (min-width: 1100px){
                    max-width: 100%;
                    height: 460px;       
                }

                @media(min-width: 700px){
                    margin-bottom: 0;
                }

                .img-project {
                    width: 100%;
                    height: 80%;
                    margin-bottom: 10px;
                    border-radius: 20px;
                    cursor: pointer;
                    
                }

                .img-1{
                    @include background(url(./Assets/project-1.jpg));
                }

                .img-2{
                    @include background(url(./Assets/project-2.jpg));
                }

                .img-3{
                    @include background(url(./Assets/project-3.jpg));
                }

                .img-4{
                    @include background(url(./Assets/project-4.jpg));
                }
                .item-title {
                    color: variables.$white;
                    @include font-size(1em);
                    font-weight: 300;
                    margin-bottom: 10px;
                    cursor: pointer;
                    transition: 200ms all ease-in-out;

                    &:hover{
                        color: variables.$orange;
                    }

                    @media (min-width: 700px){
                        @include font-size(1.2em);       
                    }
        
                    @media (min-width: 900px){
                        @include font-size(1.3em);      
                    }
        
                    @media(min-width: 1100px){
                        @include font-size(1.5em);   
                    }  
                }

                .item-text {
                    @include p-text;
                    
                    @media (min-width: 700px){
                        @include font-size(1em);       
                    }
                }
            }
            
        }

        .div-button-project{
            margin-top: 30px;
            width: 100%;
            display: grid;
            place-content: center;
            .button-project {
                @include button(variables.$orange, variables.$white);
                border: 1px solid variables.$black;
                transition: 200ms all ease-in-out;
                &:hover{
                    @include button-orange-hover;
                    
                }
                @media (min-width: 500px){
                    @include font-size(1em);       
                }

                @media (min-width: 700px){
                    @include font-size(1em);      
                }

                @media(min-width: 1000px){
                    @include font-size(1.3em);   
                    padding: 7px 20px;
                }                   
            }
        }
    }




    .expert {
        margin-top: 70px;
        width: 100%;

        @media (min-width: 800px){
            margin-top: 130px;       
        }
        
        &-title {
            @include font-size(2em);
            text-align: center;
            color: variables.$white;
            margin-bottom: 30px;
            @media (min-width: 500px){
                @include font-size(2.2em);       
            }

            @media (min-width: 700px){
                @include font-size(2.5em);      
            }

            @media(min-width: 1000px){
                @include font-size(3em);   
            }  
        }

        .container-services {

            margin-top: 60px;

            @media(min-width: 700px){
                gap: 30px;
                display: flex;
                justify-content: space-between;
            }

            .item-services {
                max-width: 370px;
                @media(min-width: 600px){
                    width: 420px;
                }
                @media(min-width: 700px){
                    max-width: 300px;
                }

                i {
                    font-size: 3em;
                    margin-bottom: 20px;
                    color: variables.$orange;
                    @media (min-width: 500px){
                        @include font-size(3.5em);       
                    }
        
                    @media (min-width: 700px){
                        @include font-size(3.8em);      
                    }
        
                    @media(min-width: 1000px){
                        @include font-size(4em);   
                    }  
                }
                .service-title {
                    color: variables.$white;
                    @include font-size(1em);
                    font-weight: 500;
                    margin-bottom: 15px;
                    @media (min-width: 500px){
                        @include font-size(1.4em);       
                    }
        
                    @media (min-width: 700px){
                        @include font-size(1.5em);      
                    }
        
                    @media(min-width: 1000px){
                        @include font-size(1.7em);   
                    }  
                }
                .text-services {
                    @include p-text;

                    @media (min-width: 600px){
                        @include font-size(1em);      
                    }
        
                    @media(min-width: 1000px){
                        @include font-size(1em);   
                    }  
                }
            }
        }
    }

    .carousel{
        margin-top: 70px;
        width: 100%;
        height: 100px;
        background-color: variables.$orange;
        
    }
    
    .clients {
        margin-top: 70px;

        .clients-title-plus {
            display: flex;
            justify-content: space-between;
            gap: 40px;

            .clients-title {
                @include font-size(1.8em);
                color: variables.$white;
                span {
                    font-style: italic;
                }

                @media (min-width: 500px){
                    @include font-size(2.2em);       
                }
    
                @media (min-width: 700px){
                    @include font-size(2.5em);      
                }
    
                @media(min-width: 1000px){
                    @include font-size(3em);   
                }  
            }

            .plus-rest {
                display: flex;
                gap: 15px;

                .plus {
                    @include bk-plus-rest(variables.$white, variables.$black);

                    &:hover {
                        background-color: variables.$orange;
                        color: variables.$black;
                        border: 1px solid variables.$black;
                    }
                }

                .rest {
                    @include bk-plus-rest(variables.$black, variables.$white);
                    &:hover {
                        background-color: variables.$orange;
                        color: variables.$black;
                        border: 1px solid variables.$black;
                    }
                }
            }
        }

        .comments-clients{
            margin-top: 40px;
            width: 100%;

            .container-comments {
                display: flex;
                gap: 25px;
                
                .testimonial-item {
                    width: 50%;
                    .text-testimonial {
                        @include p-text;
                        margin-bottom: 15px;

                        @media (min-width: 500px){
                            @include font-size(1em);       
                        }
            
                        @media (min-width: 800px){
                            @include font-size(1.3em);      
                        }
            
                        @media(min-width: 1000px){
                            @include font-size(1.6em);   
                        }  
                    }

                    .author-testimonial {
                        color: variables.$white;
                        font-size: 1em;
                        font-weight: 500;
                        margin-bottom: 5px;

                        @media (min-width: 500px){
                            @include font-size(1.1em);       
                        }
            
                        @media (min-width: 800px){
                            @include font-size(1.3em);      
                        }
            
                        @media(min-width: 1000px){
                            @include font-size(1.7em);   
                        }  
                    }

                    .ubi-testimonial {
                        @include p-text;
                        font-size: 0.7em;

                        @media (min-width: 500px){
                            @include font-size(0.8em);       
                        }
            
                        @media (min-width: 800px){
                            @include font-size(1em);      
                        }
            
                        @media(min-width: 1000px){
                            @include font-size(1.2em);   
                        }  
                    }
                }
            }
        }
    }

    .gallery {
        margin-top: 70px;
        width: 100%;

        .gallery-title {
            @include font-size(2em);
            color: variables.$white;

            @media (min-width: 500px){
                @include font-size(2.2em);       
            }

            @media (min-width: 700px){
                @include font-size(2.5em);      
            }

            @media(min-width: 1000px){
                @include font-size(3em);   
                text-align: center;
            }  
        }

        .swiper {
            border-radius: 20px;
            margin: 40px auto 0 auto;
            max-width: 950px;
            width: 100%;
            height: 300px;

            @media(min-width: 500px){
                height: 370px;
            }
            @media(min-width: 700px){
                height: 450px;
            }

            @media(min-width: 1200px){
                height: 520px;
            }

            .swiper-1{
                @include background(url(./Assets/carousel-1.jpg));
            }

            .swiper-2 {
                @include background(url(./Assets/carousel-2.jpg));
            }

            .swiper-3 {
                @include background(url(./Assets/carousel-3.jpg));
            }
        }

    }

}

.footer {
    border-top: 2px solid variables.$orange;
    background-color: black;
    width: 100%;
    margin: 50px auto 0px auto;
    padding: 0 10px;
    display: grid;
    place-content: center;

    @media(min-width: 600px){
        display: block;
    }

    .container-footer {
        max-width: 1200px;
        margin: 40px auto 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        @media (min-width: 600px){
            flex-direction: row;
            justify-content: space-between;
        }

        .left-footer{
            margin-bottom: 30px;
            h2.logo-footer {
                text-align: center;
                font-size: 1.3em;
                font-weight: 200;
                color: variables.$white;

                @media (min-width: 700px){
                    @include font-size(1.5em);      
                }
    
                @media(min-width: 1000px){
                    @include font-size(1.8em);   
                }  
            }
        }

        .container-lists {
            gap: 30px;
            @media(min-width: 600px){
                display: flex;
                justify-content: space-between;
            }

            .list {
                max-width: 230px;
                margin-bottom: 40px;

                .list-title {
                    font-size: 1em;
                    font-weight: 300;
                    color: variables.$white;
                    margin-bottom: 10px;

                    @media (min-width: 700px){
                        @include font-size(1.15em);      
                    }
        
                    @media(min-width: 1000px){
                        @include font-size(1.3em);   
                    }  
                    
                }
            }
        }
    }
} 

.list-footer {
    margin-bottom: 9px;
}

ul li a {
    color: variables.$grey;
    text-decoration: none;
    font-size: 0.9em;
    margin-bottom: 8px;
    transition: 200ms all ease-in-out;

    &:hover {
        color: variables.$orange;

        i {
            color: variables.$grey;
        }
    }

    @media (min-width: 700px){
        @include font-size(1em);      
    }

    @media(min-width: 1000px){
        @include font-size(1em);   
    }  
}

ul.footer-social li {
    display: flex;
    i {
        color: variables.$orange;
        margin-right: 5px;

        @media (min-width: 700px){
            @include font-size(1em);   
            margin-right: 8px;   
        }

        @media(min-width: 1000px){
            @include font-size(1.3em);   
        }  
    }
}