* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  background-color: #121418;
}

.header {
  width: 100%;
}
.header__container {
  margin: auto;
  max-width: 1200px;
  padding: 13px 8px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .header__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }
}
.header__container .logo {
  font-size: 1.3em;
  font-weight: 200;
  color: white;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .header__container .logo {
    font-size: 1.7em;
  }
}
.header__container .nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header__container .nav ul li {
  transition: all 200ms ease-in-out;
  color: white;
  margin-right: 10px;
  font-size: 0.7em;
  cursor: pointer;
}
.header__container .nav ul li:hover {
  color: #FD6B2A;
}
@media (min-width: 1000px) {
  .header__container .nav ul li {
    font-size: 0.9em;
  }
}
@media (max-width: 700px) {
  .header__container .nav {
    display: none;
  }
}
@media (min-width: 700px) {
  .header__container .left {
    display: flex;
    justify-content: flex-end;
  }
}
.header__container .left .contact__header {
  background-color: white;
  font-weight: bold;
  color: #121418;
  padding: 6px 10px;
  font-size: 0.7rem;
  border-radius: 20px;
  font-family: "Public Sans", sans-serif;
  border: 1px solid #121418;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
@media (min-width: 1000px) {
  .header__container .left .contact__header {
    font-size: 0.9em;
  }
}
.header__container .left .contact__header:hover {
  background-color: #121418;
  color: white;
  border: 1px solid rgb(172, 172, 172);
}
.header__container .left i {
  color: white;
  margin-left: 10px;
  font-size: 1.1em;
  cursor: pointer;
}
@media (min-width: 700px) {
  .header__container .left i {
    display: none;
  }
}

main {
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;
}
main .hero {
  width: 100%;
  margin: 50px auto 0 auto;
}
main .hero .text {
  padding-left: 10px;
  display: flex;
  width: 300px;
  gap: 20px;
  height: 30%;
}
@media (min-width: 500px) {
  main .hero .text {
    padding-left: 20px;
    min-width: 70%;
  }
}
@media (min-width: 550px) {
  main .hero .text {
    height: 160px;
    width: 100%;
  }
}
@media (min-width: 650px) {
  main .hero .text {
    height: 210px;
  }
}
@media (min-width: 800px) {
  main .hero .text {
    height: 260px;
    max-width: 1050px;
  }
}
@media (min-width: 870px) {
  main .hero .text {
    height: 275px;
  }
}
@media (min-width: 940px) {
  main .hero .text {
    height: 290px;
  }
}
@media (min-width: 1025px) {
  main .hero .text {
    height: 310px;
  }
}
@media (min-width: 1115px) {
  main .hero .text {
    height: 320px;
  }
}
@media (min-width: 1190px) {
  main .hero .text {
    height: 330px;
  }
}
main .hero .text .vertical {
  display: flex;
  align-items: flex-end;
}
main .hero .text .vertical .vertical-text {
  padding: 7px 0;
  width: 100%;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  font-size: 0.7em;
  color: #e2e071;
}
@media (min-width: 500px) {
  main .hero .text .vertical .vertical-text {
    font-size: 0.8em;
  }
}
@media (min-width: 650px) {
  main .hero .text .vertical .vertical-text {
    font-size: 1em;
  }
}
@media (min-width: 800px) {
  main .hero .text .vertical .vertical-text {
    font-size: 1.3em;
  }
}
main .hero .text .principal-text {
  width: 100%;
}
main .hero .text .principal-text .hero__title {
  font-size: calc(1.425rem + 2.1vw);
  color: white;
}
@media (min-width: 1200px) {
  main .hero .text .principal-text .hero__title {
    font-size: 3rem;
  }
}
@media (min-width: 500px) {
  main .hero .text .principal-text .hero__title {
    font-size: calc(1.525rem + 3.3vw);
  }
}
@media (min-width: 500px) and (min-width: 1200px) {
  main .hero .text .principal-text .hero__title {
    font-size: 4rem;
  }
}
@media (min-width: 650px) {
  main .hero .text .principal-text .hero__title {
    font-size: calc(1.625rem + 4.5vw);
  }
}
@media (min-width: 650px) and (min-width: 1200px) {
  main .hero .text .principal-text .hero__title {
    font-size: 5rem;
  }
}
@media (min-width: 800px) {
  main .hero .text .principal-text .hero__title {
    font-size: calc(1.725rem + 5.7vw);
  }
}
@media (min-width: 800px) and (min-width: 1200px) {
  main .hero .text .principal-text .hero__title {
    font-size: 6rem;
  }
}
main .hero .text .principal-text .hero__title span {
  font-style: italic;
}
main .hero .text .principal-text .secundary-text {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 550px) {
  main .hero .text .principal-text .secundary-text {
    flex-direction: row;
  }
}
main .hero .text .principal-text .secundary-text .complete_text {
  font-size: calc(1.375rem + 1.5vw);
  color: white;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  main .hero .text .principal-text .secundary-text .complete_text {
    font-size: 2.5rem;
  }
}
@media (min-width: 500px) {
  main .hero .text .principal-text .secundary-text .complete_text {
    font-size: calc(1.525rem + 3.3vw);
  }
}
@media (min-width: 500px) and (min-width: 1200px) {
  main .hero .text .principal-text .secundary-text .complete_text {
    font-size: 4rem;
  }
}
@media (min-width: 650px) {
  main .hero .text .principal-text .secundary-text .complete_text {
    font-size: calc(1.625rem + 4.5vw);
  }
}
@media (min-width: 650px) and (min-width: 1200px) {
  main .hero .text .principal-text .secundary-text .complete_text {
    font-size: 5rem;
  }
}
@media (min-width: 800px) {
  main .hero .text .principal-text .secundary-text .complete_text {
    font-size: calc(1.725rem + 5.7vw);
  }
}
@media (min-width: 800px) and (min-width: 1200px) {
  main .hero .text .principal-text .secundary-text .complete_text {
    font-size: 6rem;
  }
}
main .hero .text .principal-text .secundary-text .button-hero {
  background-color: #FD6B2A;
  font-weight: bold;
  color: white;
  padding: 6px 10px;
  font-size: 0.7rem;
  border-radius: 20px;
  font-family: "Public Sans", sans-serif;
  border: 1px solid #121418;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  margin: auto;
  display: flex;
  font-weight: 500;
}
main .hero .text .principal-text .secundary-text .button-hero:hover {
  background-color: #121418;
  color: #FD6B2A;
  border: 1px solid #FD6B2A;
}
@media (min-width: 550px) {
  main .hero .text .principal-text .secundary-text .button-hero {
    font-size: 0.6em;
    width: 120px;
  }
}
@media (min-width: 650px) {
  main .hero .text .principal-text .secundary-text .button-hero {
    font-size: 0.7em;
    width: 130px;
  }
}
@media (min-width: 800px) {
  main .hero .text .principal-text .secundary-text .button-hero {
    font-size: 0.8em;
    width: 140px;
  }
}
@media (min-width: 1000px) {
  main .hero .text .principal-text .secundary-text .button-hero {
    font-size: 1em;
    width: 150px;
  }
}
main .hero .text .principal-text .secundary-text .text-serving {
  margin-top: 10px;
  text-align: center;
  color: #9c9b9b;
  font-size: 0.7em;
}
@media (min-width: 650px) {
  main .hero .text .principal-text .secundary-text .text-serving {
    font-size: 0.8em;
  }
}
@media (min-width: 800px) {
  main .hero .text .principal-text .secundary-text .text-serving {
    font-size: 1em;
  }
}
@media (min-width: 1000px) {
  main .hero .text .principal-text .secundary-text .text-serving {
    font-size: 1.2em;
  }
}
main .hero .image-hero {
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  height: 200px;
  background-image: url(../Assets/hero-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 500px) {
  main .hero .image-hero {
    height: 300px;
  }
}
@media (min-width: 650px) {
  main .hero .image-hero {
    height: 350px;
  }
}
@media (min-width: 900px) {
  main .hero .image-hero {
    height: 500px;
  }
}
main .hero .subtext-hero {
  color: white;
  margin-top: 50px;
  font-size: 1.1em;
  padding-bottom: 30px;
  border-bottom: 1px solid #303030;
}
@media (min-width: 500px) {
  main .hero .subtext-hero {
    font-size: 1.2rem;
  }
}
@media (min-width: 650px) {
  main .hero .subtext-hero {
    font-size: calc(1.285rem + 0.42vw);
  }
}
@media (min-width: 650px) and (min-width: 1200px) {
  main .hero .subtext-hero {
    font-size: 1.6rem;
  }
}
@media (min-width: 800px) {
  main .hero .subtext-hero {
    font-size: calc(1.345rem + 1.14vw);
  }
}
@media (min-width: 800px) and (min-width: 1200px) {
  main .hero .subtext-hero {
    font-size: 2.2rem;
  }
}
main .data {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  main .data .container-data {
    gap: 100px;
    display: flex;
    justify-content: space-between;
  }
}
main .data .title-data {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
@media (min-width: 500px) {
  main .data .title-data {
    font-size: calc(1.275rem + 0.3vw);
  }
}
@media (min-width: 500px) and (min-width: 1200px) {
  main .data .title-data {
    font-size: 1.5rem;
  }
}
main .data .numbers-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 20px;
}
@media (min-width: 540px) {
  main .data .numbers-data {
    display: flex;
    justify-content: space-around;
  }
}
main .data .numbers-data .item-data {
  margin-bottom: 10px;
}
main .data .numbers-data .item-data .number {
  font-size: 1.9em;
  color: white;
  font-weight: 500;
}
main .data .numbers-data .item-data .number span {
  color: #FD6B2A;
}
@media (min-width: 500px) {
  main .data .numbers-data .item-data .number {
    font-size: 2.3em;
    font-weight: 700;
  }
}
@media (min-width: 1000px) {
  main .data .numbers-data .item-data .number {
    font-size: 3em;
    font-weight: 700;
  }
}
main .data .numbers-data .item-data .info-data {
  padding-top: 5px;
  font-size: 0.8em;
  color: #9c9b9b;
}
@media (min-width: 500px) {
  main .data .numbers-data .item-data .info-data {
    font-size: 0.9em;
    font-weight: 700;
  }
}
@media (min-width: 800px) {
  main .data .numbers-data .item-data .info-data {
    font-size: 1.1em;
    font-weight: 700;
  }
}
main .data .numbers-data .item-data .data-1, main .data .numbers-data .item-data .data-3 {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 540px) {
  main .data .numbers-data .item-data .data-1, main .data .numbers-data .item-data .data-3 {
    justify-content: flex-start;
  }
}
main .discover {
  width: 100%;
  margin-top: 70px;
}
@media (min-width: 800px) {
  main .discover {
    margin-top: 130px;
  }
}
main .discover__container {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}
main .discover__container .img-discover-container {
  background-image: url(../Assets/discover-job.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 350px;
  border-radius: 20px;
}
@media (max-width: 700px) {
  main .discover__container .img-discover-container {
    display: none;
  }
}
@media (min-width: 800px) {
  main .discover__container .img-discover-container {
    height: 420px;
  }
}
main .discover__container .discover-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
}
@media (min-width: 700px) {
  main .discover__container .discover-container {
    width: 50%;
  }
}
main .discover__container .discover-container .discover-title {
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}
@media (min-width: 500px) {
  main .discover__container .discover-container .discover-title {
    font-size: calc(1.355rem + 1.26vw);
  }
}
@media (min-width: 500px) and (min-width: 1200px) {
  main .discover__container .discover-container .discover-title {
    font-size: 2.3rem;
  }
}
@media (min-width: 650px) {
  main .discover__container .discover-container .discover-title {
    font-size: calc(1.365rem + 1.38vw);
  }
}
@media (min-width: 650px) and (min-width: 1200px) {
  main .discover__container .discover-container .discover-title {
    font-size: 2.4rem;
  }
}
@media (min-width: 800px) {
  main .discover__container .discover-container .discover-title {
    font-size: calc(1.395rem + 1.74vw);
  }
}
@media (min-width: 800px) and (min-width: 1200px) {
  main .discover__container .discover-container .discover-title {
    font-size: 2.7rem;
  }
}
main .discover__container .discover-container .discover-title span {
  font-style: italic;
}
main .discover__container .discover-container .discover-text {
  color: #9c9b9b;
  font-size: 0.8em;
  margin-bottom: 25px;
  font-weight: 300;
}
@media (min-width: 800px) {
  main .discover__container .discover-container .discover-text {
    font-size: 1.2rem;
  }
}
main .discover__container .discover-container .discover-list {
  list-style: none;
}
main .discover__container .discover-container .discover-list .discover-item {
  color: white;
  display: flex;
  align-items: center;
}
main .discover__container .discover-container .discover-list .discover-item span {
  font-size: 2em;
  margin-right: 5px;
  color: #FD6B2A;
}
@media (min-width: 800px) {
  main .discover__container .discover-container .discover-list .discover-item span {
    font-size: 2.3em;
  }
}
main .project {
  width: 100%;
  margin-top: 100px;
}
@media (min-width: 800px) {
  main .project {
    margin-top: 130px;
  }
}
main .project .text-project {
  margin-bottom: 40px;
}
@media (min-width: 700px) {
  main .project .text-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
main .project .text-project .project-title {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 15px;
}
@media (min-width: 700px) {
  main .project .text-project .project-title {
    width: 50%;
  }
}
@media (min-width: 800px) {
  main .project .text-project .project-title {
    font-size: 3em;
  }
}
main .project .text-project p.text-project {
  color: #9c9b9b;
  font-size: 0.8em;
  margin-bottom: 25px;
  font-weight: 300;
  text-align: center;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
}
@media (min-width: 700px) {
  main .project .text-project p.text-project {
    width: 300px;
    margin: 0;
    text-align: start;
  }
}
@media (min-width: 800px) {
  main .project .text-project p.text-project {
    font-size: 1em;
    width: 45%;
  }
}
main .project .project-photos {
  width: 100%;
  display: grid;
  place-content: center;
}
@media (min-width: 700px) {
  main .project .project-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 15px;
  }
}
main .project .project-photos .item-project {
  min-width: 200px;
  max-width: 400px;
  height: 380px;
  margin-bottom: 25px;
}
@media (min-width: 900px) {
  main .project .project-photos .item-project {
    max-width: 500px;
    height: 460px;
  }
}
@media (min-width: 1100px) {
  main .project .project-photos .item-project {
    max-width: 100%;
    height: 460px;
  }
}
@media (min-width: 700px) {
  main .project .project-photos .item-project {
    margin-bottom: 0;
  }
}
main .project .project-photos .item-project .img-project {
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}
main .project .project-photos .item-project .img-1 {
  background-image: url(../Assets/project-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .project .project-photos .item-project .img-2 {
  background-image: url(../Assets/project-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .project .project-photos .item-project .img-3 {
  background-image: url(../Assets/project-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .project .project-photos .item-project .img-4 {
  background-image: url(../Assets/project-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .project .project-photos .item-project .item-title {
  color: white;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}
main .project .project-photos .item-project .item-title:hover {
  color: #FD6B2A;
}
@media (min-width: 700px) {
  main .project .project-photos .item-project .item-title {
    font-size: 1.2em;
  }
}
@media (min-width: 900px) {
  main .project .project-photos .item-project .item-title {
    font-size: 1.3em;
  }
}
@media (min-width: 1100px) {
  main .project .project-photos .item-project .item-title {
    font-size: 1.5em;
  }
}
main .project .project-photos .item-project .item-text {
  color: #9c9b9b;
  font-size: 0.8em;
  margin-bottom: 25px;
  font-weight: 300;
}
@media (min-width: 700px) {
  main .project .project-photos .item-project .item-text {
    font-size: 1em;
  }
}
main .project .div-button-project {
  margin-top: 30px;
  width: 100%;
  display: grid;
  place-content: center;
}
main .project .div-button-project .button-project {
  background-color: #FD6B2A;
  font-weight: bold;
  color: white;
  padding: 6px 10px;
  font-size: 0.7rem;
  border-radius: 20px;
  font-family: "Public Sans", sans-serif;
  border: 1px solid #121418;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border: 1px solid #121418;
  transition: 200ms all ease-in-out;
}
main .project .div-button-project .button-project:hover {
  background-color: #121418;
  color: #FD6B2A;
  border: 1px solid #FD6B2A;
}
@media (min-width: 500px) {
  main .project .div-button-project .button-project {
    font-size: 1em;
  }
}
@media (min-width: 700px) {
  main .project .div-button-project .button-project {
    font-size: 1em;
  }
}
@media (min-width: 1000px) {
  main .project .div-button-project .button-project {
    font-size: 1.3em;
    padding: 7px 20px;
  }
}
main .expert {
  margin-top: 70px;
  width: 100%;
}
@media (min-width: 800px) {
  main .expert {
    margin-top: 130px;
  }
}
main .expert-title {
  font-size: 2em;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
@media (min-width: 500px) {
  main .expert-title {
    font-size: 2.2em;
  }
}
@media (min-width: 700px) {
  main .expert-title {
    font-size: 2.5em;
  }
}
@media (min-width: 1000px) {
  main .expert-title {
    font-size: 3em;
  }
}
main .expert .container-services {
  margin-top: 60px;
}
@media (min-width: 700px) {
  main .expert .container-services {
    gap: 30px;
    display: flex;
    justify-content: space-between;
  }
}
main .expert .container-services .item-services {
  max-width: 370px;
}
@media (min-width: 600px) {
  main .expert .container-services .item-services {
    width: 420px;
  }
}
@media (min-width: 700px) {
  main .expert .container-services .item-services {
    max-width: 300px;
  }
}
main .expert .container-services .item-services i {
  font-size: 3em;
  margin-bottom: 20px;
  color: #FD6B2A;
}
@media (min-width: 500px) {
  main .expert .container-services .item-services i {
    font-size: 3.5em;
  }
}
@media (min-width: 700px) {
  main .expert .container-services .item-services i {
    font-size: 3.8em;
  }
}
@media (min-width: 1000px) {
  main .expert .container-services .item-services i {
    font-size: 4em;
  }
}
main .expert .container-services .item-services .service-title {
  color: white;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 15px;
}
@media (min-width: 500px) {
  main .expert .container-services .item-services .service-title {
    font-size: 1.4em;
  }
}
@media (min-width: 700px) {
  main .expert .container-services .item-services .service-title {
    font-size: 1.5em;
  }
}
@media (min-width: 1000px) {
  main .expert .container-services .item-services .service-title {
    font-size: 1.7em;
  }
}
main .expert .container-services .item-services .text-services {
  color: #9c9b9b;
  font-size: 0.8em;
  margin-bottom: 25px;
  font-weight: 300;
}
@media (min-width: 600px) {
  main .expert .container-services .item-services .text-services {
    font-size: 1em;
  }
}
@media (min-width: 1000px) {
  main .expert .container-services .item-services .text-services {
    font-size: 1em;
  }
}
main .carousel {
  margin-top: 70px;
  width: 100%;
  height: 100px;
  background-color: #FD6B2A;
}
main .clients {
  margin-top: 70px;
}
main .clients .clients-title-plus {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
main .clients .clients-title-plus .clients-title {
  font-size: 1.8em;
  color: white;
}
main .clients .clients-title-plus .clients-title span {
  font-style: italic;
}
@media (min-width: 500px) {
  main .clients .clients-title-plus .clients-title {
    font-size: 2.2em;
  }
}
@media (min-width: 700px) {
  main .clients .clients-title-plus .clients-title {
    font-size: 2.5em;
  }
}
@media (min-width: 1000px) {
  main .clients .clients-title-plus .clients-title {
    font-size: 3em;
  }
}
main .clients .clients-title-plus .plus-rest {
  display: flex;
  gap: 15px;
}
main .clients .clients-title-plus .plus-rest .plus {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background-color: #121418;
  color: white;
  border: 1px solid whitesmoke;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}
@media (min-width: 500px) {
  main .clients .clients-title-plus .plus-rest .plus {
    width: 30px;
    height: 30px;
    font-size: 1em;
  }
}
@media (min-width: 700px) {
  main .clients .clients-title-plus .plus-rest .plus {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1000px) {
  main .clients .clients-title-plus .plus-rest .plus {
    width: 55px;
    height: 55px;
    font-size: 1.8em;
  }
}
main .clients .clients-title-plus .plus-rest .plus:hover {
  background-color: #FD6B2A;
  color: #121418;
  border: 1px solid #121418;
}
main .clients .clients-title-plus .plus-rest .rest {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background-color: white;
  color: #121418;
  border: 1px solid whitesmoke;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}
@media (min-width: 500px) {
  main .clients .clients-title-plus .plus-rest .rest {
    width: 30px;
    height: 30px;
    font-size: 1em;
  }
}
@media (min-width: 700px) {
  main .clients .clients-title-plus .plus-rest .rest {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1000px) {
  main .clients .clients-title-plus .plus-rest .rest {
    width: 55px;
    height: 55px;
    font-size: 1.8em;
  }
}
main .clients .clients-title-plus .plus-rest .rest:hover {
  background-color: #FD6B2A;
  color: #121418;
  border: 1px solid #121418;
}
main .clients .comments-clients {
  margin-top: 40px;
  width: 100%;
}
main .clients .comments-clients .container-comments {
  display: flex;
  gap: 25px;
}
main .clients .comments-clients .container-comments .testimonial-item {
  width: 50%;
}
main .clients .comments-clients .container-comments .testimonial-item .text-testimonial {
  color: #9c9b9b;
  font-size: 0.8em;
  margin-bottom: 25px;
  font-weight: 300;
  margin-bottom: 15px;
}
@media (min-width: 500px) {
  main .clients .comments-clients .container-comments .testimonial-item .text-testimonial {
    font-size: 1em;
  }
}
@media (min-width: 800px) {
  main .clients .comments-clients .container-comments .testimonial-item .text-testimonial {
    font-size: 1.3em;
  }
}
@media (min-width: 1000px) {
  main .clients .comments-clients .container-comments .testimonial-item .text-testimonial {
    font-size: 1.6em;
  }
}
main .clients .comments-clients .container-comments .testimonial-item .author-testimonial {
  color: white;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 5px;
}
@media (min-width: 500px) {
  main .clients .comments-clients .container-comments .testimonial-item .author-testimonial {
    font-size: 1.1em;
  }
}
@media (min-width: 800px) {
  main .clients .comments-clients .container-comments .testimonial-item .author-testimonial {
    font-size: 1.3em;
  }
}
@media (min-width: 1000px) {
  main .clients .comments-clients .container-comments .testimonial-item .author-testimonial {
    font-size: 1.7em;
  }
}
main .clients .comments-clients .container-comments .testimonial-item .ubi-testimonial {
  color: #9c9b9b;
  font-size: 0.8em;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 0.7em;
}
@media (min-width: 500px) {
  main .clients .comments-clients .container-comments .testimonial-item .ubi-testimonial {
    font-size: 0.8em;
  }
}
@media (min-width: 800px) {
  main .clients .comments-clients .container-comments .testimonial-item .ubi-testimonial {
    font-size: 1em;
  }
}
@media (min-width: 1000px) {
  main .clients .comments-clients .container-comments .testimonial-item .ubi-testimonial {
    font-size: 1.2em;
  }
}
main .gallery {
  margin-top: 70px;
  width: 100%;
}
main .gallery .gallery-title {
  font-size: 2em;
  color: white;
}
@media (min-width: 500px) {
  main .gallery .gallery-title {
    font-size: 2.2em;
  }
}
@media (min-width: 700px) {
  main .gallery .gallery-title {
    font-size: 2.5em;
  }
}
@media (min-width: 1000px) {
  main .gallery .gallery-title {
    font-size: 3em;
    text-align: center;
  }
}
main .gallery .swiper {
  border-radius: 20px;
  margin: 40px auto 0 auto;
  max-width: 950px;
  width: 100%;
  height: 300px;
}
@media (min-width: 500px) {
  main .gallery .swiper {
    height: 370px;
  }
}
@media (min-width: 700px) {
  main .gallery .swiper {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  main .gallery .swiper {
    height: 520px;
  }
}
main .gallery .swiper .swiper-1 {
  background-image: url(../Assets/carousel-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .gallery .swiper .swiper-2 {
  background-image: url(../Assets/carousel-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .gallery .swiper .swiper-3 {
  background-image: url(../Assets/carousel-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  border-top: 2px solid #FD6B2A;
  background-color: black;
  width: 100%;
  margin: 50px auto 0px auto;
  padding: 0 10px;
  display: grid;
  place-content: center;
}
@media (min-width: 600px) {
  .footer {
    display: block;
  }
}
.footer .container-footer {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 600px) {
  .footer .container-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .container-footer .left-footer {
  margin-bottom: 30px;
}
.footer .container-footer .left-footer h2.logo-footer {
  text-align: center;
  font-size: 1.3em;
  font-weight: 200;
  color: white;
}
@media (min-width: 700px) {
  .footer .container-footer .left-footer h2.logo-footer {
    font-size: 1.5em;
  }
}
@media (min-width: 1000px) {
  .footer .container-footer .left-footer h2.logo-footer {
    font-size: 1.8em;
  }
}
.footer .container-footer .container-lists {
  gap: 30px;
}
@media (min-width: 600px) {
  .footer .container-footer .container-lists {
    display: flex;
    justify-content: space-between;
  }
}
.footer .container-footer .container-lists .list {
  max-width: 230px;
  margin-bottom: 40px;
}
.footer .container-footer .container-lists .list .list-title {
  font-size: 1em;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .footer .container-footer .container-lists .list .list-title {
    font-size: 1.15em;
  }
}
@media (min-width: 1000px) {
  .footer .container-footer .container-lists .list .list-title {
    font-size: 1.3em;
  }
}

.list-footer {
  margin-bottom: 9px;
}

ul li a {
  color: #9c9b9b;
  text-decoration: none;
  font-size: 0.9em;
  margin-bottom: 8px;
  transition: 200ms all ease-in-out;
}
ul li a:hover {
  color: #FD6B2A;
}
ul li a:hover i {
  color: #9c9b9b;
}
@media (min-width: 700px) {
  ul li a {
    font-size: 1em;
  }
}
@media (min-width: 1000px) {
  ul li a {
    font-size: 1em;
  }
}

ul.footer-social li {
  display: flex;
}
ul.footer-social li i {
  color: #FD6B2A;
  margin-right: 5px;
}
@media (min-width: 700px) {
  ul.footer-social li i {
    font-size: 1em;
    margin-right: 8px;
  }
}
@media (min-width: 1000px) {
  ul.footer-social li i {
    font-size: 1.3em;
  }
}

/*# sourceMappingURL=style.css.map */
