* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  background-color: #121418;
}

.header {
  width: 100%;
}
.header__container {
  margin: auto;
  max-width: 1200px;
  padding: 13px 8px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .header__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }
}
.header__container .logo {
  font-size: 1.3em;
  font-weight: 200;
  color: white;
}
@media (max-width: 700px) {
  .header__container .nav {
    display: none;
  }
}
.header__container .left .contact__header {
  background-color: white;
  font-weight: bold;
  color: #121418;
  padding: 6px 10px;
  font-size: 0.7rem;
  border-radius: 20px;
  font-family: "Public Sans", sans-serif;
  border: none;
}
.header__container .left i {
  color: white;
  margin-left: 10px;
  font-size: 1.1em;
  cursor: pointer;
}
@media (min-width: 700px) {
  .header__container .left i {
    display: none;
  }
}

main {
  margin: auto;
  max-width: 1200px;
  padding: 0 10px;
}
main .hero {
  width: 100%;
  margin-top: 30px;
}
main .hero .text {
  display: flex;
  width: 250px;
  gap: 20px;
}
main .hero .text .vertical {
  width: 20%;
  display: flex;
  align-items: flex-end;
}
main .hero .text .vertical .vertical-text {
  font-size: 0.7em;
  transform: rotate(-90deg);
  color: #e2e071;
}
main .hero .text .principal-text {
  width: 100%;
}
main .hero .text .principal-text .hero__title {
  font-size: calc(1.425rem + 2.1vw);
  color: white;
}
@media (min-width: 1200px) {
  main .hero .text .principal-text .hero__title {
    font-size: 3rem;
  }
}
main .hero .text .principal-text .hero__title span {
  font-style: italic;
}
main .hero .text .principal-text .secundary-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  main .hero .text .principal-text .secundary-text {
    flex-direction: row;
  }
}
main .hero .text .principal-text .secundary-text .complete_text {
  font-size: calc(1.375rem + 1.5vw);
  color: white;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  main .hero .text .principal-text .secundary-text .complete_text {
    font-size: 2.5rem;
  }
}
main .hero .text .principal-text .secundary-text .button-hero {
  background-color: #FD6B2A;
  font-weight: bold;
  color: white;
  padding: 6px 10px;
  font-size: 0.7rem;
  border-radius: 20px;
  font-family: "Public Sans", sans-serif;
  border: none;
  margin: auto;
  display: flex;
  font-weight: 500;
}
main .hero .text .principal-text .secundary-text .text-serving {
  margin-top: 10px;
  text-align: center;
  color: #9c9b9b;
  font-size: 0.7em;
}
main .hero .image-hero {
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  height: 200px;
  background-image: url(../Assets/hero-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .hero .subtext-hero {
  color: white;
  margin-top: 50px;
  font-size: 1.1em;
  padding-bottom: 30px;
  border-bottom: 1px solid #303030;
}
main .data {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  main .data {
    flex-direction: row;
  }
}
main .data .title-data {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
main .data .numbers-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .data .numbers-data .item-data {
  margin-bottom: 10px;
}
main .data .numbers-data .item-data .number {
  font-size: 1.7em;
  color: white;
  font-weight: 500;
}
main .data .numbers-data .item-data .number span {
  color: #FD6B2A;
}
main .data .numbers-data .item-data .info-data {
  padding-top: 5px;
  font-size: 0.7em;
  color: #9c9b9b;
}
main .discover {
  width: 100%;
  height: 350px;
  margin-top: 70px;
}
main .discover__container {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}
main .discover__container .img-discover-container {
  background-image: url(../Assets/discover-job.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 350px;
  border-radius: 20px;
}
@media (max-width: 700px) {
  main .discover__container .img-discover-container {
    display: none;
  }
}
main .discover__container .discover-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 700px) {
  main .discover__container .discover-container {
    width: 50%;
  }
}
main .discover__container .discover-container .discover-title {
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}
main .discover__container .discover-container .discover-title span {
  font-style: italic;
}
main .discover__container .discover-container .discover-text {
  color: #9c9b9b;
  font-size: 0.8em;
  margin-bottom: 25px;
  font-weight: 300;
}
main .discover__container .discover-container .discover-list {
  list-style: none;
}
main .discover__container .discover-container .discover-list .discover-item {
  color: white;
  display: flex;
  align-items: center;
}
main .discover__container .discover-container .discover-list .discover-item span {
  font-size: 2em;
  margin-right: 5px;
  color: #FD6B2A;
}
main .project {
  width: 100%;
  margin-top: 70px;
}
main .project .text-project {
  margin-bottom: 40px;
}
@media (min-width: 700px) {
  main .project .text-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
main .project .text-project .project-title {
  color: white;
  font-size: 2em;
  margin-bottom: 15px;
}
main .project .text-project .text-project {
  color: #9c9b9b;
  font-size: 0.8em;
  margin-bottom: 25px;
  font-weight: 300;
  max-width: 500px;
}
@media (min-width: 700px) {
  main .project .text-project .text-project {
    width: 300px;
  }
}
main .project .project-photos {
  width: 100%;
  margin: auto;
}
@media (min-width: 700px) {
  main .project .project-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
main .project .project-photos .item-project {
  min-width: 200px;
  max-width: 400px;
  height: 300px;
  margin-bottom: 25px;
}
main .project .project-photos .item-project img.img-project {
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
  border-radius: 20px;
}
main .project .project-photos .item-project .item-title {
  color: white;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 10px;
}
main .project .project-photos .item-project .item-text {
  color: #9c9b9b;
  font-size: 0.8em;
  margin-bottom: 25px;
  font-weight: 300;
}
main .project .div-button-project {
  width: 100%;
  display: grid;
  place-content: center;
}
main .project .div-button-project .button-project {
  background-color: #FD6B2A;
  font-weight: bold;
  color: white;
  padding: 6px 10px;
  font-size: 0.7rem;
  border-radius: 20px;
  font-family: "Public Sans", sans-serif;
  border: none;
}

/*# sourceMappingURL=style.css.map */
